@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Do Hyeon";
	src: url("./image/DoHyeon-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body {
	padding: 30px;
	font-family: "Do Hyeon";
	font-size: 20px;
}

header {
	margin-top: 30px;
	padding: 5px;
	display: flex;
	display: block;
}

#nav {
	margin-top: 230px;
}

nav {
	display: flex;
	background-color: #002266;
}

nav a {
	color: white;
	padding: 20px 80px;
	text-decoration: none;
	text-align: center;
	font-size: 1.2em;
	margin: 0 auto;
}

nav a:hover {
	background-color: #235594;
}

/* .title {		 */
/* 	margin-left: 6%; */
/* 	margin-top: 5%; */
/* 	font-size: 50px; */
/* } */
#top1 {
	float: left;
	position: relative;
	width: 33%;
}

#top2 {
	float: left;
	width: 33%;
	position: relative;
	text-align: center;
}

#top2 h1 {
	width: 500px;
	height: 160px;
}

#top3 {
	float: left;
	width: 33%;
}

#top3 a {
	text-decoration: none;
}

#top3_1 {
	float: right;
	position: relative;
	width: 16%;
	text-align: center;
}

#top3_2 {
	float: right;
	text-align: center;
	width: 16%;
}

.ct {
	float: left;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#double {
	border: 1px solid gray;
}

#text {
	text-align: center;
}

#res {
	margin: 0 5% 0 9.3%;
	height: 650px;
}

.h1 {
	margin-left: 8%;
	font-size: 30px;
	position: relative;
	margin-top: 30px;
}

.h1 #next {
	float: left;
	border: 4px solid #002266;
	background-color: #002266;
	color: white;
	border-radius: 50%;
	text-align: center;
	position: relative;
}

.h1 #bt1 {
	display: block;
	float: left;
	margin-left: 10px;
	color: #002266;
	margin-top: 3px;
}

.h1 #bt1:hover {
	color: #B2CCFF;
}

.h1 #bt2 {
	display: none;
	float: left;
	margin-left: 10px;
	color: #002266;
	margin-top: 3px;
}

.h1 #bt2:hover {
	color: #CEFBC9;
}

.h1 #bt3 {
	display: none;
	float: left;
	margin-left: 10px;
	color: #002266;
	margin-top: 3px;
}

.h1 #bt3:hover {
	color: #FAF4C0;
}

.h1 #bt4 {
	display: none;
	float: left;
	margin-left: 10px;
	color: #002266;
	margin-top: 3px;
}

.h1 #bt4:hover {
	color: #DAD9FF;
}

hr {
	background-color: black;
	width: 80%;
	margin-left: 8%;
}

.a img {
	transition: all 0.2s linear;
}

footer {
	clear: both;
	background-color: #D5D5D5;
	color: white;
	text-align: center;
	padding: 1em 0px;
}

/* container */
#container {
	margin: 0 auto;
	width: 1300px;
	margin-top: 60px;
	margin-bottom: 100px;
}

/* recruit in container */
#recruit_recommend_container {
/* 	background-color: #e3e9f4; */
	/* 	width: 1200px; */
	height: 600px;
	margin-bottom: 53px;
	padding-left: 44px;
}

.recruit_recommend_title {
	text-align: center;
	font-size: 35px;
	margin-bottom: -10px;
	margin-right: 52px;
}

.recruit_recommend_division {
	float: left;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

 .recruit_recommend_division:hover{
    transition: all 0.2s linear;
   -webkit-transform:scale(1.2);
 }

.recruit_recommend_block_title {
	margin-left: 2px;
/* 	font-family: "Han sans"; */
	
}

/* community in container */
#community_popular_container {
	/* 	background-color: blue; */
	/* 	width: 1200px; */
	height: 1000px;
	margin-left: 40px;
}

.community_popular_part {
	float: left;
	width: 600px;
}

#community_popular_info {
	/* 	background-color: red; */
	
}

#community_popular_QnA {
	/* 	background-color: green; */
	margin-left: 25px;
}

.community_popular_title {
	text-align: center;
	font-size: 35px;
	margin-bottom: 26px;
}

.community_popular_table_pic {
	width: 200px;
	height: 130px;
}

#community_popular_container table, #community_popular_container td {
	/* 	border: 1px solid black; */
	font-size: 14px;
	font-family: "Han sans";
	border-collapse: collapse;
}

#community_popular_container table {
	margin: 0 auto;
	margin-bottom: 38px;
}

.community_popular_table_pic {
	margin: 10px;
	margin-right: 31px;
}

.community_popular_table_subject {
	height: 30px;
	padding-bottom: 9px;
}

.community_popular_table_subject a {
	color: black;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px
}

.community_popular_table_subject a:hover {
	text-decoration: underline;
	color: #002266;
}

.community_popular_table_content {
	/* 	height: 70px; */
	vertical-align: top;
	padding-top: 4px;
	width: 300px;
}

.community_popular_table_tags {
	height: 30px;
}